<h1>Cart</h1>
<h2>Items in cart: {{getItemsCount()}}</h2>
<h2>Sum: {{getItemsSum()}}</h2>

<b>Sort by: </b>
<div class="form-check form-check-inline">
  <input #nameRadio  class="form-check-input" type="radio" name="sortRadio" #nameRadio id="exampleRadios1" value="name" (click)='triggerPipe()'>
  <label class="form-check-label" for="exampleRadios1">
    Name
  </label>
</div>
<div class="form-check form-check-inline">
  <input #priceRadio class="form-check-input" type="radio" name="sortRadio" id="exampleRadios2" value="price" (click)='triggerPipe()'>
  <label class="form-check-label" for="exampleRadios2">
    Price
  </label>
</div>
<div class="form-check form-check-inline">
  <input #quantityRadio class="form-check-input" type="radio" name="sortRadio" id="exampleRadios2" value="quantity" (click)='triggerPipe()' checked>
  <label class="form-check-label" for="exampleRadios2">
    Quantity
  </label>
</div>
<div class="form-check form-check-inline">
  <input #descendingCheckBox class="form-check-input position-static" type="checkbox" id="descendingCheckbox" value="true" (click)='triggerPipe()'>
  <label class="form-check-label" for="descendingCheckbox">Descending</label>
</div>

  <div *ngFor="let cartItem of cartItems | orderBy:(nameRadio.checked ? nameRadio.value : priceRadio.checked ? priceRadio.value : quantityRadio.value):(descendingCheckBox.checked ? true: false)">
    <app-cart-item [cartItem]='cartItem' (addToCart)="onAddItem($event)" (removeFromCart)="onRemoveItem($event)"></app-cart-item>
</div>

