<div class="card" style="width: 25rem; margin: 25px;">
  <div class="card-body">
      <h5 class="card-title">Name: {{product.name}}<span class="badge badge-secondary" *ngIf='product.isAvailable'>Available</span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Category: {{product.category}}</h6>
      <p class="card-text">Description: {{product.description}}</p>
      <div *ngFor="let tag of product.tags">
          <p class="card-text">
              {{tag}}
          </p>
      </div>
      <div *ngIf="product.isAvailable">
          <h3>
              <h2>Price: {{product.price}}</h2>
          </h3>
      </div>
      <button type="button" class="btn btn-primary" (click)='onAddToCart(product)' [disabled]="!product.isAvailable">Add to cart</button>
  </div>
</div>
